extends base.pug 


block style
    style 
        include ../static/homestyle.css
        include ../static/styleblogDSA.css
        include ../static/styleblogWD.css

block content 
        div.containerbdsa
        div.boxh1
            h1 Very important concepts for Data Structures and algorithms

        div.row1bdsa 
            div.box#box1 
                a(href='https://www.geeksforgeeks.org/why-data-structures-and-algorithms-are-important-to-learn/', target='_self')
                    img( src='../static/images/blogdsa images/th1.png')
                li #[a.btn1(href="https://www.geeksforgeeks.org/why-data-structures-and-algorithms-are-important-to-learn/", target="_blank") #[button.btn Read More ] ]

            div.box#box2 
                a(href='https://www.geeksforgeeks.org/top-10-reasons-to-learn-c-plus-plus/', target='_self')
                    img( src='../static/images/blogdsa images/th2.png')
                li #[a.btn1(href="https://www.geeksforgeeks.org/top-10-reasons-to-learn-c-plus-plus/", target="_blank") #[button.btn Read More ] ]  

            div.box#box3
                a(href='https://www.geeksforgeeks.org/advantages-of-vector-over-array-in-c/', target='_self')
                    img( src='../static/images/blogdsa images/th3.png')
                li #[a.btn1(href="https://www.geeksforgeeks.org/advantages-of-vector-over-array-in-c/", target="_blank") #[button.btn Read More ] ]

        div.row2bdsa 
            div.box#box4 
                a(href='https://www.geeksforgeeks.org/map-vs-unordered_map-c/', target='_self')
                    img(src="../static/images/blogdsa images/th4.png", alt="")
                li #[a.btn1(href="https://www.geeksforgeeks.org/map-vs-unordered_map-c/", target="_blank") #[button.btn Read More ] ] 

            div.box#box5 
                a(href='https://www.geeksforgeeks.org/difference-between-set-multiset-unordered_set-unordered_multiset-in-cpp/', target='_self')
                    img(src="../static/images/blogdsa images/th5.png", alt="")
                li #[a.btn1(href="https://www.geeksforgeeks.org/difference-between-set-multiset-unordered_set-unordered_multiset-in-cpp/", target="_blank") #[button.btn Read More ] ]    

            div.box#box6 
                a(href='https://www.geeksforgeeks.org/sorting-a-vector-in-c/', target='_self')
                    img(src="../static/images/blogdsa images/th6.png", alt="")
                li #[a.btn1(href="https://www.geeksforgeeks.org/sorting-a-vector-in-c/", target="_blank") #[button.btn Read More ] ]  

        div.row3bdsa 
            div.box#box7 
                a(href='https://www.geeksforgeeks.org/binary-search/', target='_self')
                    img(src="../static/images/blogdsa images/th7.png", alt="")
                li #[a.btn1(href="https://www.geeksforgeeks.org/binary-search/", target="_blank") #[button.btn Read More ] ]  

            div.box#box8 
                a(href='https://www.hackerearth.com/practice/notes/stacks-and-queues/', target='_self')
                    img(src="../static/images/blogdsa images/th8.png", alt="")
                li #[a.btn1(href="https://www.hackerearth.com/practice/notes/stacks-and-queues/", target="_blank") #[button.btn Read More ] ]  

            div.box#box9 
                a(href='https://www.geeksforgeeks.org/prefix-sum-array-implementation-applications-competitive-programming/', target='_self')
                    img(src="../static/images/blogdsa images/th9.png", alt="")
                li #[a.btn1(href="https://www.geeksforgeeks.org/prefix-sum-array-implementation-applications-competitive-programming/", target="_blank") #[button.btn Read More ] ]

        div.row4bdsa
            div.box#box10 
                a(href='https://www.geeksforgeeks.org/dynamic-programming/', target='_self')
                    img(src="../static/images/blogdsa images/th10.png", alt="")
                li #[a.btn1(href="https://www.geeksforgeeks.org/dynamic-programming/", target="_blank") #[button.btn Read More ] ]  

            div.box#box11
                a(href='https://www.geeksforgeeks.org/graph-and-its-representations/', target='_self')
                    img(src="../static/images/blogdsa images/th11.png", alt="")
                li #[a.btn1(href="https://www.geeksforgeeks.org/graph-and-its-representations/", target="_blank") #[button.btn Read More ] ]  

            div.box#box12 
                a(href='https://www.geeksforgeeks.org/priority-queue-in-cpp-stl/', target='_self')
                    img(src="../static/images/blogdsa images/th12.png", alt="")
                li #[a.btn1(href="https://www.geeksforgeeks.org/priority-queue-in-cpp-stl/", target="_blank") #[button.btn Read More ] ]




        div.containerbwd
        div.boxh1
            h1 Important topics of web developing for beginners

        div.row1bwd 
            div.box#box1 
                a(href='https://www.geeksforgeeks.org/web-development/', target='_self')
                    img( src='../static/images/blogwd images/th1.png')
                li #[a.btn1(href="https://www.geeksforgeeks.org/web-development/", target="_blank") #[button.btn Read More ] ]

            div.box#box2 
                a(href='https://www.w3schools.com/html/html_intro.asp', target='_self')
                    img( src='../static/images/blogwd images/th2.png')
                li #[a.btn1(href="https://www.w3schools.com/html/html_intro.asp", target="_blank") #[button.btn Read More ] ]  

            div.box#box3
                a(href='https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure', target='_self')
                    img( src='../static/images/blogwd images/th3.png')
                li #[a.btn1(href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure", target="_blank") #[button.btn Read More ] ]

        div.row2bwd 
            div.box#box4 
                a(href='https://www.w3schools.com/css/css_intro.asp', target='_self')
                    img(src="../static/images/blogwd images/th4.png", alt="")
                li #[a.btn1(href="https://www.w3schools.com/css/css_intro.asp", target="_blank") #[button.btn Read More ] ] 

            div.box#box5 
                a(href='https://www.w3schools.com/css/css_selectors.asp', target='_self')
                    img(src="../static/images/blogwd images/th5.png", alt="")
                li #[a.btn1(href="https://www.w3schools.com/css/css_selectors.asp", target="_blank") #[button.btn Read More ] ]    

            div.box#box6 
                a(href="https://www.w3schools.com/css/css3_flexbox.asp", target='_self')
                    img(src="../static/images/blogwd images/th6.png", alt="")
                li #[a.btn1(href="https://www.w3schools.com/css/css3_flexbox.asp", target="_blank") #[button.btn Read More ] ]  

        div.row3bwd 
            div.box#box7 
                a(href='https://nodejs.org/en/about/', target='_self')
                    img(src="../static/images/blogwd images/th7.png", alt="")
                li #[a.btn1(href="https://nodejs.org/en/about/", target="_blank") #[button.btn Read More ] ]  

            div.box#box8 
                a(href='https://www.npmjs.com/package/express', target='_self')
                    img(src="../static/images/blogwd images/th8.png", alt="")
                li #[a.btn1(href="https://www.npmjs.com/package/express", target="_blank") #[button.btn Read More ] ]  

            div.box#box9 
                a(href='https://expressjs.com/en/guide/using-template-engines.html', target='_self')
                    img(src="../static/images/blogwd images/th9.png", alt="")
                li #[a.btn1(href="https://expressjs.com/en/guide/using-template-engines.html", target="_blank") #[button.btn Read More ] ]

        div.row4bwd 
            div.box#box10 
                a(href='https://www.freecodecamp.org/news/learn-backend-development/', target='_self')
                    img(src="../static/images/blogwd images/th10.png", alt="")
                li #[a.btn1(href="https://www.freecodecamp.org/news/learn-backend-development/", target="_blank") #[button.btn Read More ] ]  

            div.box#box11
                a(href='https://en.wikipedia.org/wiki/MongoDB', target='_self')
                    img(src="../static/images/blogwd images/th11.png", alt="")
                li #[a.btn1(href="https://en.wikipedia.org/wiki/MongoDB", target="_blank") #[button.btn Read More ] ]  

            div.box#box12 
                a(href='https://www.freecodecamp.org/news/how-to-deploy-an-application-to-heroku/', target='_self')
                    img(src="../static/images/blogwd images/th12.png", alt="")
                li #[a.btn1(href="https://www.freecodecamp.org/news/how-to-deploy-an-application-to-heroku/", target="_blank") #[button.btn Read More ] ]         


         
block script 
    script
        include ../static/index.js                      