<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billa CP</title>
</head>
<body>
    <li style="font-size: 22px"> Your details have been registered. You can login using your credential soon and enjoy free content till then.  </li>
    <a href="/home", style="font-size: 30px"> Redirect to home.</a>
</body>
</html>